/*------------------------------------------------------------------
[FormElement Stylesheet]

Project:    ReactTestApp
Version:    0.1
Last change:    22/07/17 [Dev layout, az]
Assigned to:    Albert Zhivulin (az)
Primary use:    Web forms elements
-------------------------------------------------------------------*/
@mixin delay ($variable) {
  -webkit-transition-delay: $variable;
          transition-delay: $variable;
}

@mixin animated ($variable) {
  -webkit-transition: all $variable ease-out;
          transition: all $variable ease-out;
}

$mobileScreen: 800px;



/*------------------------------------------------------------------
[Table of contents]

1. Form
    1.2. Type: text, tel, password, email
    1.3. Textarea
    1.4. Addon
    1.5. Error
    1.6. Focus effects
    1.7. Checkbox
    1.8. Radio
2. Service layout
    2.1. Form inline wrapper
-------------------------------------------------------------------*/
.formElement {
    padding: 16px 0;
    position: relative;
    
    // [@1.1. Input][Textarea]
    &--input,
    &--textarea {
        width: 100%;
        height: 42px;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        outline: inherit;
        border: 1px solid #dce0e0;
        line-height: 24px;
        @include animated(.2s);
        
        // Focus
        &:focus {
            border-color: #93959b;
        }
        
        &:disabled {
            background-color: #f3f4f5;
        }
    }
    
    
    // [@1.2. Textarea]
    &--textarea {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    // [@1.3. Label]
    &--label {
        display: block;
        cursor: text;
        color: #c0c4c4;
        font-size: 15px;
        position: absolute;
        top: 0;
        left: 12px;
        transform: translateY(30px);
        @include animated(.2s);
    }
    
    
    // [@1.4. Addon]
    &--addon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #93959b;
        position: absolute;
        right: 13px;
        top: 25px;
        
        // Icon
        &Icon {
            color: #ffffff;
            text-align: center;
            display: block;
            line-height: 25px;
            width: 25px;
            cursor: help;
        }
    }
    
    
    // [@1.5. Error]
    &--error {
        .formElement--input,
        .formElement--textarea {
            border: 1px solid #ff5a5f;
        }
        
        &MSG {
            font-size: 14px;
            color: #ff5a5f;
            display: block;
            position: absolute;
            bottom: 0;
        }
    }
    
    
    // [@1.6. Focus]
    &--input:focus~&--label,
    &--textarea:focus~&--label {
        cursor: pointer;
        font-size: 14px;
        color: #9b9b9b;
        transform: translateY(-4px);
    }
    
    // [Empty]
    &--notEpmty {
        .formElement--label {
            cursor: pointer;
            font-size: 14px;
            color: #9b9b9b;
            transform: translateY(-4px);
        }
    }
    
    
    // [@1.7. Checkbox]
    &--checkbox {
        display: flex;
        cursor: pointer;
        
        // Indicator
        &Indicator {
            display: block;
            border: 1px solid #dce0e0;
            width: 18px;
            height: 18px;
            position: relative;
            margin-right: 20px;
            @include animated(.2s);
            
            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 1px;
                background-color: #384045;
            }
            
            &::before {
                top: 9px;
                left: 4px;
                width: 0px;
                transform: rotate(45deg);
                
                @include animated(.06s);
                @include delay(.12s);
                
            }
            
            &::after {
                top: 11px;
                left: 7px;
                width: 0px;
                transform: rotate(-47deg);
                @include animated(.12s);
            }
        }
        
        // Description
        &Description {
            margin-top: 1px;
        }
        
        // Checked
        &Input {
            display: none;
            &:checked~.formElement--checkboxIndicator {
                &::before {
                    top: 10px;
                    left: 2px;
                    width: 5px;
                    transform: rotate(45deg);
                
                    @include animated(.15s);
                    @include delay(0);
                }
            
                &::after {
                    top: 8px;
                    left: 4px;
                    width: 11px;
                    @include animated(.06s);
                    @include delay(.12s);

                }
            }
        }
        
        // Hover 
        &:hover {
            .formElement--checkboxIndicator {
                border-color: #919797;
            }
        }
    }
    
    
    // [@1.8. Radio]
    &--radio {
        display: flex;
        cursor: pointer;
        
        // Indicator
        &Indicator {
            display: block;
            border: 1px solid #dce0e0;
            
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: relative;
            margin-right: 20px;
            @include animated(.2s);
            
            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 2px;
                background-color: #ffffff;
            }
            
            &::before {
                top: 13px;
                left: 5px;
                width: 5px;
                transform: rotate(45deg);
            }
            
            &::after {
                top: 11px;
                left: 7px;
                width: 11px;
                transform: rotate(-44deg);
            }
        }
        
        // Description
        &Description {
            margin-top: 4px;
        }
        
        // Hover 
        &:hover {
            .formElement--radioIndicator {
                border: 1px solid #9b9b9b;
            }
        }
        
        // Checked
        &Input {
            display: none;
            &:active~.formElement--radioIndicator,
            &:checked~.formElement--radioIndicator {
                border: 1px solid #6cd588;
                background-color: #6cd588;
                .formElement--checkboxIndicator {
                }
            }
        }
    }
}

/*------------------------------------------------------------------
[@2.1. Form inline wrapper]
*/
.formInline {
    display: flex;
    justify-content: space-between;
    margin: 0 -6px;
    
    // [Form element]
    >.formElement {
        width: 100%;
        margin-left: 6px;
        margin-right: 6px;
    }
    
    // Mobile
    @media(max-width: $mobileScreen) {
        margin: 0;
        flex-direction: column;
        
        >.formElement {
            margin-left: 0;
            margin-right: 0;
        }
    }
}