/*------------------------------------------------------------------
Возьму за основу коментирования и организации кода,
методологию CSS Styleguides, подробнее здесь:
https://www.smashingmagazine.com/2008/05/improving-code-readability-with-css-styleguides/
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[Master Stylesheet]

Project:    ReactTestApp
Version:    0.1
Last change:    22/07/17 [Dev layout, az]
Assigned to:    Alex Franchko (af), Albert Zhivulin (az)
Primary use:    ReactTestApp 
-------------------------------------------------------------------*/
@font-face {
    font-family: Helvetica;
    src: url("/fonts/Helvetica/HelveticaRegular.ttf");
    font-weight: 300
}

@mixin delay ($variable) {
  -webkit-transition-delay: $variable;
          transition-delay: $variable;
}

@mixin animated ($variable) {
  -webkit-transition: all $variable ease-out;
          transition: all $variable ease-out;
}



/*------------------------------------------------------------------
[Table of contents]

1. Body
    2. Typography
        2.1. Headers
    3. Layout
        3.1. Container
        3.2. Row 
    4. Buttons
    @@. Service style
-------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    /**
    * Сразу зафиксим отступы через, box-sizing чтобы потом не прописывать
    */
    box-sizing: border-box;
}

body {
    background: #f3f4f5;
    font-family: Helvetica;
}



/*------------------------------------------------------------------
[@3. Typography]
*/
h {
    &1 {

    }

    &2 {

    }

    &3 {
    //    font-size: 23px;
    //    text-align: center;
    //    color: #384045;
    //    margin-bottom: 36px;
    }

    &4 {
    //    font-size: 21px;
    //    color: #384045;
    //    margin-bottom: 8px;
    //    font-weight: 700;
    }

    &5 {
    //    font-size: 16px;
    //    text-align: left;
    //    margin-top: 46px;
    //    margin-bottom: 20px;
    }

    &6 {
    //    font-size: 14px;
    //    text-align: left;
    //    margin-top: 20px;
    //    margin-bottom: 32px;
    }
}



/*------------------------------------------------------------------
[@3. Layout]
*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 0 30px;
}

.row {
    width: 100%;
    
    // [Divider style]
    &.divider {
        border-top: 1px solid #e9e9e9;
        margin: 14px 0 30px;
    }
    
    
    // [to Form]
    &--form {
        margin: 35px 0 35px;
        
        &End {
           margin-top: 35px;
        }
    }
    
    
    // [push Right]
    &--r {
        display: flex;
        justify-content: flex-end;
    }
}

.w-800 {
    max-width: 800px;
}



/*------------------------------------------------------------------
[@4. Buttons]
*/
.btn {
    font-family: Helvetica;
    font-size: 14px;
    color: #fff;
    border: 0 none;
    border-radius: 5px;
    padding: 9px 41px;
    outline: inherit;
    cursor: pointer;
    @include animated(.2s);
    
    // [Default]  #Red
    &,
    &:focus {
        background-color: #ff5a5f;
    }
    
    &:active,
    &:hover {
        background-color: #e54c4e;
    }
    
    
    // [Green]
    &--green {
        &,
        &:focus {
            background-color: #6cd588;
        }

        &:active,
        &:hover {
            background-color: #5ebf78;
        }
    }
}



/*------------------------------------------------------------------
[@@. Service style]
*/
.hidden {
    display: none;
}